body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.timer-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically on small screens (mobile) */
    justify-content: center;
    align-items: center; /* Center elements horizontally */
    margin: 0;
    padding: 10px; /* Add some padding for better mobile appearance */
}

.timer {
    font-size: 36px;
    margin: 10px;
}

.controls {
    margin: 10px;
}

.set-counter {
    font-size: 24px;
}

/* Media query for smaller screens (mobile) */
@media screen and (max-width: 768px) {
    .timer {
        font-size: 24px; /* Reduce font size for mobile screens */
    }

    .controls input[type="number"] {
        width: 100%; /* Make input fields take the full width on mobile screens */
    }
}
